# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/app/google-services.json
android/key.properties
*.jks
*.keystore

# iOS
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/xcuserdata/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Test
test/coverage/
coverage/

# Misc
*.log
*.tmp
*.swp
*.swo
*~
